// rename this file to constants.ts
import type { Checks } from "./types.js";

export const LINK_SHORTENER = new RegExp(
  "(?:https?:\\/\\/)?([^.]+\\.)?(tinyurl\\.com|bit\\.ly|goo\\.gl|g\\.co|ow\\.ly|shorturl\\.at|t\\.co)",
  "i",
);

export const langs = ["eng"];

export const PROFILE_CHECKS: Checks[] = [
  {
    language: ["eng"],
    label: "skub",
    comment: "Pro-skub language found in profile",
    description: true,
    displayName: true,
    reportAcct: false,
    commentAcct: false,
    toLabel: true,
    check: new RegExp(
      "(only|pro)[ -]skub|we love skub|skub is (good|god|king)|\\bskub\\b",
      "i",
    ),
    whitelist: new RegExp("(anti|[🚫]|DNI)[ -:]?skub", "i"),
    ignoredDIDs: [
      "did:plc:example", //Parody account
    ],
  },
  {
    label: "skub-adjacent",
    comment: "skub-adjacent language found in profile",
    description: true,
    displayName: true,
    reportAcct: false,
    commentAcct: false,
    toLabel: true,
    check: new RegExp(
      "skubbe",
      "i",
    ),
  },
];

export const HANDLE_CHECKS: Checks[] = [
  {
    language: ["eng"],
    label: "skub",
    comment: "Pro-skub language found in handle",
    reportAcct: false,
    commentAcct: false,
    toLabel: true,
    check: new RegExp(
      "(only|pro)[-]skub|we love skub|skub[-]?is[-]?(good|god|king)|skub\\.(pro|com|org)",
      "i",
    ),
  },
];

export const POST_CHECKS: Checks[] = [
  {
    language: ["eng"],
    label: "pro-skub-link",
    comment: "Pro Skub link found in post",
    reportAcct: false,
    commentAcct: true,
    reportPost: false,
    toLabel: true,
    check: new RegExp(
      "skubbe\\.com|skub\\.(me|pro|tech)",
      "i",
    ),
  },
];

export const STARTERPACK_CHECKS: Checks[] = [
  {
    label: "skubbe",
    comment: "Skub found Starter Pack",
    description: true,
    displayName: true,
    reportAcct: false,
    commentAcct: false,
    toLabel: true,
    check: new RegExp(
      "Skub",
      "i",
    ),
    knownVectors: [
      "did:plc:example1",
      "did:plc:example2",
    ],
  },
];
